* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;

}

.container {
    display: flex;
    min-width: 100vh;

}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    transition: all 0.3s ease;
    position: fixed;
    height: 100vh;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 20px 20px;
    font-size: 22px;
    font-weight: bold;

}

.logo i {
    margin-right: 10px;
    font-size: 20px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    padding: 12px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.sidebar nav ul li:hover {
    background-color: #34495e;
}

.sidebar nav ul li:active {
    background-color: #34a9db;
}

.sidebar nav ul li i {
    margin-right: 10px;
    font-size: 18px;
}

.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    transition: all 0.3s;
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 8px 15px;
    border-radius: 30px;
    width: 300px;
}

.search-bar i {
    margin-left: 10px;
    color: #777;

}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;

}

.user-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;

}

.user-profile i {
    margin-left: 5px;
}